@import "tailwindcss";

:root {
  --background: #e0e5ec;
  --foreground: #3b4b5b;
  --primary: #ff543c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --shadow-neo: 6px 6px 12px #b8bcc2, -6px -6px 12px #ffffff;
  --shadow-neo-inset: inset 6px 6px 12px #b8bcc2, inset -6px -6px 12px #ffffff;
  --shadow-neo-sm: 3px 3px 6px #b8bcc2, -3px -3px 6px #ffffff;
  --shadow-neo-inset-sm: inset 3px 3px 6px #b8bcc2, inset -3px -3px 6px #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
